{{#each events as |event|}}
  <li class="collection-item left-align">
    {{event.name}}
    {{#if event.timer}}
      {{event-timer timer=event.timer timerStarted=timerStarted}}
    {{/if}}
  </li>
{{/each}}
