<i class="circle red">{{side}}</i>

<div class="counter">
  {{elapsedTime}}
</div>

<div class="secondary-content">
  {{#liquid-if running use="toUp"}}
    <i class="mdi-av-pause pointer"></i>
  {{else}}
    <i class="mdi-av-play-arrow pointer"></i>
  {{/liquid-if}}
</div>