<div class="section">
  {{timer-next lastStart=lastStart}}
</div>

<div class="section">
  <h1>antes</h1>
  {{event-list events=events}}
  <i class="large mdi-av-play-arrow teal-text pointer" {{action 'confirmTimer'}}></i>
</div>

