@import 'framework/materialize';
@import "templates/import";

header, main, footer, nav {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media #{$large-and-up} {
  .container {
    width: 95%;
  }
}

.card a {
  color: $primary-color-light;
}

body > .ember-view { min-height: 100%; }
.liquid-child { margin: 5 -5px; padding: 15px; }

.spinner-container {
  text-align: left;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100%;
}

.pointer {
  cursor: pointer;
}



