<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left">
      {{#link-to 'timer' tagName="li"}}<a href="">Timers do Gu</a>{{/link-to}}
    </ul>
    <ul id="nav-mobile" class="right">
      {{#link-to 'event' tagName="li"}}<a href="">Events</a>{{/link-to}}
    </ul>
  </div>
</nav>